body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4ede2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #4a2e13;
}

.countdown-container {
    text-align: center;
    background-color: #e77d33;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    position: relative;
}

.logo-circle {
    width: 120px;
    height: 120px;
    background-color: #f7c59f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 80px;
    
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}

.dots span {
    display: inline-block;
    animation: wave 1.5s infinite;
}

.dots span:nth-child(1) {
    animation-delay: 0s;
}

.dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.dots span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

#countdown {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
}

.time-box {
    background-color: #f7c59f;
    padding: 20px;
    border-radius: 10px;
    width: 120px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.number {
    font-size: 3em;
    font-weight: bold;
    color: #4a2e13;
}

.label {
    font-size: 1.2em;
    color: #fff;
    font-weight: 600;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.social-circle {
    width: 50px;
    height: 50px;
    background-color: #4a2e13;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.social-logo {
    width: 25px;
    height: 25px;
}

@media (max-width: 768px) {
    .time-box {
        width: 100px;
    }

    .logo-circle {
        width: 100px;
        height: 100px;
    }

    .logo {
        width: 70px;
      
    }

    h1 {
        font-size: 2em;
    }

    .social-circle {
        width: 40px;
        height: 40px;
    }

    .social-logo {
        width: 20px;
    }
}